Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/XMLSchemas/RegiX.AVBulstat2Adapter/StateOfPlayService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.bulstat.bg/StateOfPlayService" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.bulstat.bg/StateOfPlayService"
	name="StateOfPlayService" xmlns:ns1="http://www.bulstat.bg/WSException">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.bulstat.bg/StateOfPlayService"
				schemaLocation="StateOfPlayService.xsd" />

			<xsd:import namespace="http://www.bulstat.bg/WSException"
				schemaLocation="WSException.xsd" />
		</xsd:schema>
	</types>
	<message name="GetStateOfPlay">
		<part name="parameters" element="tns:GetStateOfPlay"></part>
	</message>
	<message name="GetStateOfPlayResponse">
		<part name="parameters" element="tns:GetStateOfPlayResponse"></part>
	</message>
	<message name="FetchNomenclatures">
		<part name="parameters" element="tns:FetchNomenclatures"></part>
	</message>
	<message name="FetchNomenclaturesResponse">
		<part name="parameters" element="tns:FetchNomenclaturesResponse"></part>
	</message>
	<message name="WSException">
		<part xmlns:ns1="http://www.bulstat.bg/WSException" name="fault"
			element="ns1:WSException"></part>
	</message>
	<portType name="StateOfPlayPortType">
		<operation name="GetStateOfPlay">
			<input wsam:Action="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlay"
				message="tns:GetStateOfPlay"></input>
			<output
				wsam:Action="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlayResponse"
				message="tns:GetStateOfPlayResponse"></output>
			<fault message="tns:WSException" name="WSException"
				wsam:Action="http://www.bulstat.bg/WSException"></fault>
		</operation>
		<operation name="FetchNomenclatures">
			<input wsam:Action="http://www.bulstat.bg/StateOfPlayService/FetchNomenclatures" message="tns:FetchNomenclatures"/>
			<output wsam:Action="http://www.bulstat.bg/StateOfPlayService/Nomenclatures" message="tns:FetchNomenclaturesResponse"/>
			<fault message="tns:WSException" name="WSException" wsam:Action="http://www.bulstat.bg/WSException"/>
		</operation>
	</portType>
	<binding name="StateOfPlayPortBinding" type="tns:StateOfPlayPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="GetStateOfPlay">
			<soap:operation
				soapAction="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlay"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="WSException">
				<soap:fault name="WSException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="FetchNomenclatures">
			<soap:operation
				soapAction="http://www.bulstat.bg/StateOfPlayService/FetchNomenclatures"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="WSException">
				<soap:fault name="WSException" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<service name="StateOfPlayService">
		<port name="StateOfPlayPort" binding="tns:StateOfPlayPortBinding">
			<soap:address
				location="http://62.176.116.155:8082/bulstat/services/StateOfPlayService"></soap:address>
		</port>
	</service>
</definitions>