Adapters/RegiX.IaaaVehicleInspectionsAdapter/RegiX.IaaaVehicleInspectionsAdapter/ServiceXMLSchemas/Report5_vehicleInspectionStickerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rir2="http://www.demax.bg/egov/rir2" targetNamespace="http://www.demax.bg/egov/rir2" elementFormDefault="qualified" version="1.0">
	<xs:element name="vehicleInspectionStickerRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="regNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="stickerNumber" type="xs:long" minOccurs="0"/>
				<xs:element name="context" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
