Adapters/RegiX.IaosMROOilAdapter/RegiX.IaosMROOilAdapter/Service References/MROOilServiceReference/mro-oil.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://egov.bg/RegiX/IAOS/MROOil" targetNamespace="http://egov.bg/RegiX/IAOS/MROOil" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MRO_OIL_Execution_Type_Request" type="tns:MRO_OIL_Execution_Type_Request" />
  <xs:element name="MRO_OIL_Execution_Type_Response" type="tns:mroOilExecutionType" />
  <xs:element name="MRO_OIL_Trade_Marks_Request" type="tns:MRO_OIL_Trade_Marks_Request" />
  <xs:element name="MRO_OIL_Trade_Marks_Response" type="tns:mroOilTradeMarks" />
  <xs:element name="MRO_OIL_Validity_Check_Request" type="tns:MRO_OIL_Validity_Check_Request" />
  <xs:element name="MRO_OIL_Validity_Check_Response" type="tns:mroOilValidityCheck" />
  <xs:element name="WebServiceException" type="tns:WebServiceException" />
  <xs:element name="getExecutionTypeResponse" type="tns:getExecutionTypeResponse" />
  <xs:element name="getTradeMarksResponse" type="tns:getTradeMarksResponse" />
  <xs:element name="getValidityCheckResponse" type="tns:getValidityCheckResponse" />
  <xs:complexType name="MRO_OIL_Execution_Type_Request">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="EIK" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExecutionTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:MRO_OIL_Execution_Type_Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mroOilExecutionType">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="Authorization" type="tns:AuthorizationExecutionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizationExecutionType">
    <xs:sequence>
      <xs:element form="qualified" name="AuthNum" type="xs:string" />
      <xs:element form="qualified" name="CompanyName" type="xs:string" />
      <xs:element form="qualified" name="MroFulfillment" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="RecOrgNum" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="UonName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MRO_OIL_Validity_Check_Request">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="EIK" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getValidityCheckResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:MRO_OIL_Validity_Check_Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mroOilValidityCheck">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="Authorization" type="tns:AuthorizationValidityCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizationValidityCheck">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="Address" type="xs:string" />
      <xs:element form="qualified" name="AuthNum" type="xs:string" />
      <xs:element form="qualified" name="CompanyName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="DistName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="MidName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="PopName" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="TerName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MRO_OIL_Trade_Marks_Request">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="AuthNum" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTradeMarksResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:MRO_OIL_Trade_Marks_Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mroOilTradeMarks">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="Authorization" type="tns:AuthorizationTradeMarks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizationTradeMarks">
    <xs:sequence>
      <xs:element form="qualified" name="CompanyName" type="xs:string" />
      <xs:element form="qualified" name="EIK" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="TradeMark" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>