Adapters/RegiX.NoiROAdapter/RegiX.NoiROAdapter/Service References/POBPeriodService/POBForPeriod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nssi.bg/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nssi.bg/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nssi.bg/">
      <s:element name="GetPOBForPeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="egn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flag_egn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="per_date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="per_date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOBForPeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPOBForPeriodResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPOBForPeriodSoapIn">
    <wsdl:part name="parameters" element="tns:GetPOBForPeriod" />
  </wsdl:message>
  <wsdl:message name="GetPOBForPeriodSoapOut">
    <wsdl:part name="parameters" element="tns:GetPOBForPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="POBForPeriodSoap">
    <wsdl:operation name="GetPOBForPeriod">
      <wsdl:input message="tns:GetPOBForPeriodSoapIn" />
      <wsdl:output message="tns:GetPOBForPeriodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POBForPeriodSoap" type="tns:POBForPeriodSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPOBForPeriod">
      <soap:operation soapAction="http://www.nssi.bg/GetPOBForPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POBForPeriodSoap12" type="tns:POBForPeriodSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPOBForPeriod">
      <soap12:operation soapAction="http://www.nssi.bg/GetPOBForPeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POBForPeriod">
    <wsdl:port name="POBForPeriodSoap" binding="tns:POBForPeriodSoap">
      <soap:address location="http://egov.ad.tlogica.com/MockRegisters/NOI_POBPeriod/POBForPeriod.asmx" />
    </wsdl:port>
    <wsdl:port name="POBForPeriodSoap12" binding="tns:POBForPeriodSoap12">
      <soap12:address location="http://egov.ad.tlogica.com/MockRegisters/NOI_POBPeriod/POBForPeriod.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>