Adapters/RegiX.MtTouristRegisterAdapter/RegiX.MtTouristRegisterAdapter/Service References/TOTAService/query1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://egov.bg/RegiX/MT/TOTAByEIKRequest" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://egov.bg/RegiX/MT/TOTAByEIKResponse" xmlns:impl="http://egov.bg/RegiX/MT/TOTAByEIKRequest" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://egov.bg/RegiX/MT/TOTAByEIKRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/TOTAByEIKRequest">
      <xsd:complexType name="TOTABYEIKREQUESTTYPE">
        <xsd:sequence>
          <xsd:element name="EIK" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TOTABYEIKREQUEST" type="impl:TOTABYEIKREQUESTTYPE" />
      <xsd:element name="TOTABYEIKReturn" type="tns2:TOTA" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/TOTAByEIKResponse">
      <xsd:simpleType name="TYPEENUM">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="TO" />
          <xsd:enumeration value="TA" />
          <xsd:enumeration value="TOTA" />
          <xsd:enumeration value="" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ORDERTYPE">
        <xsd:sequence>
          <xsd:element name="NUMBER" type="xsd:string" />
          <xsd:element name="DATE" nillable="true" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="REGISTRATIONTYPE">
        <xsd:sequence>
          <xsd:element name="NUMBER" type="xsd:string" />
          <xsd:element name="DATE" nillable="true" type="xsd:date" />
          <xsd:element name="ORDER" nillable="true" type="tns2:ORDERTYPE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LICENSETYPE">
        <xsd:sequence>
          <xsd:element name="NUMBER" type="xsd:string" />
          <xsd:element name="DATE" nillable="true" type="xsd:date" />
          <xsd:element name="ORDER" nillable="true" type="tns2:ORDERTYPE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OFFICE">
        <xsd:sequence>
          <xsd:element name="CITY" type="xsd:string" />
          <xsd:element name="ADDRESS" type="xsd:string" />
          <xsd:element name="PHONE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TOTA">
        <xsd:sequence>
          <xsd:element name="EIK" type="xsd:string" />
          <xsd:element name="NAME" type="xsd:string" />
          <xsd:element name="TYPE" nillable="true" type="tns2:TYPEENUM" />
          <xsd:element name="REGISTRATION" nillable="true" type="tns2:REGISTRATIONTYPE" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TERMSCHANGEORDERS" nillable="true" type="tns2:ORDERTYPE" />
          <xsd:element name="SUSPENDORDER" nillable="true" type="tns2:ORDERTYPE" />
          <xsd:element name="LICENSE" nillable="true" type="tns2:LICENSETYPE" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OFFICES" nillable="true" type="tns2:OFFICE" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TOTABYEIKResponse">
    <wsdl:part name="TOTABYEIKReturn" element="impl:TOTABYEIKReturn" />
  </wsdl:message>
  <wsdl:message name="TOTABYEIKRequest">
    <wsdl:part name="TOTABYEIKREQUEST" element="impl:TOTABYEIKREQUEST" />
  </wsdl:message>
  <wsdl:portType name="TOTADB">
    <wsdl:operation name="TOTABYEIK">
      <wsdl:input name="TOTABYEIKRequest" message="impl:TOTABYEIKRequest" />
      <wsdl:output name="TOTABYEIKResponse" message="impl:TOTABYEIKResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:TOTADB">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TOTABYEIK">
      <wsdlsoap:operation soapAction="TOTABYEIK" />
      <wsdl:input name="TOTABYEIKRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TOTABYEIKResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TOTAService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="http://217.75.131.131:31381/Registration.nsf/query?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>