Adapters/RegiX.MPCriminalRecordsAdapter/RegiX.MPCriminalRecordsAdapter/Service References/CSCSService/mp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.e-justice.bg/schemas/CSCS/webservice/v1" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://www.e-justice.bg/schemas/CSCS/Messages/v1" xmlns:s1="http://www.e-justice.bg/schemas/CSCS/Data/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.e-justice.bg/schemas/CSCS/webservice/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.e-justice.bg/schemas/CSCS/Messages/v1">
      <s:import namespace="http://www.e-justice.bg/schemas/CSCS/Data/v1" />
      <s:element name="GetBulletinsForPersonRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="egn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBulletinsForPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="person" type="s1:person" />
            <s:element minOccurs="0" maxOccurs="1" name="bulletins" type="s1:ArrayOfBulletin" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.e-justice.bg/schemas/CSCS/Data/v1">
      <s:complexType name="person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="egn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthdate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="birthplace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="regionalCourtName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="presentCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="presentAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mothersNames" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fathersNames" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBulletin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="bulletin" type="s1:bulletin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="bulletin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bulletinNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="registrationDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="bulletinType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="courtPrepared" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="actNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="actDate" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="actExecuteDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="actType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="courtOfAct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="caseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="caseDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="caseType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bulletinDisposition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="additionalInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBulletinsForPersonSoapIn">
    <wsdl:part name="getBulletinsForPersonRequest" element="s0:GetBulletinsForPersonRequest" />
  </wsdl:message>
  <wsdl:message name="GetBulletinsForPersonSoapOut">
    <wsdl:part name="GetBulletinsForPersonResult" element="s0:GetBulletinsForPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="CSCSService">
    <wsdl:operation name="GetBulletinsForPerson">
      <wsdl:input message="tns:GetBulletinsForPersonSoapIn" />
      <wsdl:output message="tns:GetBulletinsForPersonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CSCSServicePortHttpGet" />
  <wsdl:portType name="CSCSServicePortHttpPost" />
  <wsdl:binding name="CSCSService" type="tns:CSCSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBulletinsForPerson">
      <soap:operation soapAction="http://www.e-justice.bg/schemas/CSCS/webservice/v1:getBulletinsForPersonIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CSCSServicePortHttpGet" type="tns:CSCSServicePortHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="CSCSServicePortHttpPost" type="tns:CSCSServicePortHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="CSCSServicePort">
    <wsdl:port name="CSCSService" binding="tns:CSCSService">
      <soap:address location="http://172.16.0.33/cscsws/CSCSService.asmx" />
    </wsdl:port>
    <wsdl:port name="CSCSServicePortHttpGet" binding="tns:CSCSServicePortHttpGet">
      <http:address location="http://172.16.0.33/cscsws/CSCSService.asmx" />
    </wsdl:port>
    <wsdl:port name="CSCSServicePortHttpPost" binding="tns:CSCSServicePortHttpPost">
      <http:address location="http://172.16.0.33/cscsws/CSCSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>