Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/IdentificationDoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/IdentificationDoc" xmlns:E="http://www.bulstat.bg/Entry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/IdentificationDoc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Entry.xsd" namespace="http://www.bulstat.bg/Entry" />
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:complexType name="IdentificationDoc">
    <xs:annotation>
      <xs:documentation>Документ за самоличност</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="E:Entry">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IDType" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Вид документ за самоличност
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IDNumber">
            <xs:annotation>
              <xs:documentation>Номер на док. за самоличност</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Държава, издала документа
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="IssueDate" type="xs:anySimpleType">
            <xs:annotation>
              <xs:documentation>Дата на издаване във формат
								(yyyy-MM-dd)
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="xs:anySimpleType">
            <xs:annotation>
              <xs:documentation>Дата на валидност във формат
								(yyyy-MM-dd)
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>