Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/LegalEntity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/LegalEntity" xmlns:E="http://www.bulstat.bg/Entry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/LegalEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Entry.xsd" namespace="http://www.bulstat.bg/Entry" />
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:complexType name="LegalEntity">
    <xs:annotation>
      <xs:documentation>Юридическо лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="E:Entry">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Държава
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="LegalForm" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Правна форма
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="LegalStatute" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Юридически статут
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SubjectGroup" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Група субекти
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="CyrillicFullName">
            <xs:annotation>
              <xs:documentation>Пълно наименование на кирилица
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="CyrillicShortName">
            <xs:annotation>
              <xs:documentation>Кратко наименование на кирилица
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="64" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="LatinFullName">
            <xs:annotation>
              <xs:documentation>Пълно наименование, изписано на латиница
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SubordinateLevel" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Ниво на подчиненост
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TRStatus">
            <xs:annotation>
              <xs:documentation>Статус от Търговския регистър
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>