Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/Nomenclatures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T0="http://www.bulstat.bg/MetaDefinition" xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/Nomenclatures" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/Nomenclatures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:import schemaLocation="MetaDefinition.xsd" namespace="http://www.bulstat.bg/MetaDefinition" />
  <xs:element name="Nomenclatures" type="tns:Nomenclatures" />
  <xs:complexType name="Nomenclatures">
    <xs:annotation>
      <xs:documentation>Резултат от операцията
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryNomElement" type="tns:CountryMultilangNomElement">
        <xs:annotation>
          <xs:documentation>Съдържание на номенклатурата с държавите
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="SimpleNomenclature" type="tns:SimpleNomenclature">
        <xs:annotation>
          <xs:documentation>Линейни номенклатури</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleNomenclature">
    <xs:annotation>
      <xs:documentation>Линейна номенклатура
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Definition" type="T0:MetaDefinition">
        <xs:annotation>
          <xs:documentation>Дефиниция на номенклатурата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NomElement" type="tns:MultilangNomElement">
        <xs:annotation>
          <xs:documentation>Съдържание на номенклатурата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultilangNomElement">
    <xs:annotation>
      <xs:documentation>Номенклатурна стойност
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="T3:NomenclatureEntry">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="NameBG">
            <xs:annotation>
              <xs:documentation>Наименование на български език
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="180" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="NameEN">
            <xs:annotation>
              <xs:documentation>Наименование на английски език
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="180" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" default="0" name="Ordering">
            <xs:annotation>
              <xs:documentation>Подредба</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="-2147483648" />
                <xs:maxInclusive value="2147483647" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Active" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Посочва дали понятието е актуално или не
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountryMultilangNomElement">
    <xs:annotation>
      <xs:documentation>Номенклатурна стойност - Държава
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MultilangNomElement">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ISO2">
            <xs:annotation>
              <xs:documentation>ISO2 - двубуквен код на държава
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ISO3">
            <xs:annotation>
              <xs:documentation>ISO3 - трибуквен код на държава
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="3" />
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>