Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/StateOfPlay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:REL0="http://www.bulstat.bg/SubjectRelPartner" xmlns:PROP10="http://www.bulstat.bg/SubjectPropActivityDate" xmlns:T18="http://www.bulstat.bg/Event" xmlns:PROP2="http://www.bulstat.bg/SubjectPropScopeOfActivity" xmlns:PROP3="http://www.bulstat.bg/SubjectPropActivityKID2008" xmlns:PROP0="http://www.bulstat.bg/SubjectPropLifeTime" xmlns:PROP1="http://www.bulstat.bg/SubjectPropState" xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:PROP7="http://www.bulstat.bg/SubjectPropFundingSource" xmlns:PROP4="http://www.bulstat.bg/SubjectPropActivityKID2003" xmlns:PROP5="http://www.bulstat.bg/SubjectPropInstallments" xmlns:T25="http://www.bulstat.bg/Subject" xmlns:PROP8="http://www.bulstat.bg/SubjectPropOwnershipForm" xmlns:T22="http://www.bulstat.bg/LegalEntity" xmlns:T23="http://www.bulstat.bg/NaturalPerson" xmlns:tns="http://www.bulstat.bg/StateOfPlay" xmlns:PROP12="http://www.bulstat.bg/SubjectPropCollectiveBody" xmlns:PROP9="http://www.bulstat.bg/SubjectPropAccountingRecordForm" xmlns:PROP6="http://www.bulstat.bg/SubjectPropRepresentationType" xmlns:REL1="http://www.bulstat.bg/SubjectRelManager" xmlns:PROP11="http://www.bulstat.bg/SubjectPropProfession" xmlns:REL2="http://www.bulstat.bg/SubjectRelBelonging" xmlns:REL3="http://www.bulstat.bg/SubjectRelAssignee" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/StateOfPlay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="LegalEntity.xsd" namespace="http://www.bulstat.bg/LegalEntity" />
  <xs:import schemaLocation="NaturalPerson.xsd" namespace="http://www.bulstat.bg/NaturalPerson" />
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:import schemaLocation="Event.xsd" namespace="http://www.bulstat.bg/Event" />
  <xs:import schemaLocation="Subject.xsd" namespace="http://www.bulstat.bg/Subject" />
  <xs:import schemaLocation="SubjectPropLifeTime.xsd" namespace="http://www.bulstat.bg/SubjectPropLifeTime" />
  <xs:import schemaLocation="SubjectPropState.xsd" namespace="http://www.bulstat.bg/SubjectPropState" />
  <xs:import schemaLocation="SubjectPropScopeOfActivity.xsd" namespace="http://www.bulstat.bg/SubjectPropScopeOfActivity" />
  <xs:import schemaLocation="SubjectPropActivityKID2008.xsd" namespace="http://www.bulstat.bg/SubjectPropActivityKID2008" />
  <xs:import schemaLocation="SubjectPropActivityKID2003.xsd" namespace="http://www.bulstat.bg/SubjectPropActivityKID2003" />
  <xs:import schemaLocation="SubjectPropInstallments.xsd" namespace="http://www.bulstat.bg/SubjectPropInstallments" />
  <xs:import schemaLocation="SubjectPropRepresentationType.xsd" namespace="http://www.bulstat.bg/SubjectPropRepresentationType" />
  <xs:import schemaLocation="SubjectPropFundingSource.xsd" namespace="http://www.bulstat.bg/SubjectPropFundingSource" />
  <xs:import schemaLocation="SubjectPropOwnershipForm.xsd" namespace="http://www.bulstat.bg/SubjectPropOwnershipForm" />
  <xs:import schemaLocation="SubjectPropAccountingRecordForm.xsd" namespace="http://www.bulstat.bg/SubjectPropAccountingRecordForm" />
  <xs:import schemaLocation="SubjectPropActivityDate.xsd" namespace="http://www.bulstat.bg/SubjectPropActivityDate" />
  <xs:import schemaLocation="SubjectPropProfession.xsd" namespace="http://www.bulstat.bg/SubjectPropProfession" />
  <xs:import schemaLocation="SubjectRelPartner.xsd" namespace="http://www.bulstat.bg/SubjectRelPartner" />
  <xs:import schemaLocation="SubjectRelManager.xsd" namespace="http://www.bulstat.bg/SubjectRelManager" />
  <xs:import schemaLocation="SubjectRelBelonging.xsd" namespace="http://www.bulstat.bg/SubjectRelBelonging" />
  <xs:import schemaLocation="SubjectRelAssignee.xsd" namespace="http://www.bulstat.bg/SubjectRelAssignee" />
  <xs:import schemaLocation="SubjectPropCollectiveBody.xsd" namespace="http://www.bulstat.bg/SubjectPropCollectiveBody" />
  <xs:element name="StateOfPlay" type="tns:StateOfPlay" />
  <xs:complexType name="StateOfPlay">
    <xs:annotation>
      <xs:documentation>Актуално състояние</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Subject" type="T25:Subject">
        <xs:annotation>
          <xs:documentation>Субект на БУЛСТАТ
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Event" type="T18:Event">
        <xs:annotation>
          <xs:documentation>Събитие
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RepresentationType" type="PROP6:SubjectPropRepresentationType">
        <xs:annotation>
          <xs:documentation>Начин на представляване
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ScopeOfActivity" type="PROP2:SubjectPropScopeOfActivity">
        <xs:annotation>
          <xs:documentation>Предмет на дейност
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MainActivity2008" type="PROP3:SubjectPropActivityKID2008">
        <xs:annotation>
          <xs:documentation>Основна дейност (КИД2008)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MainActivity2003" type="PROP4:SubjectPropActivityKID2003">
        <xs:annotation>
          <xs:documentation>Основна дейност (НКИД2003)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Installments" type="PROP5:SubjectPropInstallments">
        <xs:annotation>
          <xs:documentation>Вноски
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LifeTime" type="PROP0:SubjectPropLifeTime">
        <xs:annotation>
          <xs:documentation>Срок на същестуване
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountingRecordForm" type="PROP9:SubjectPropAccountingRecordForm">
        <xs:annotation>
          <xs:documentation>Форма на счетоводно записване
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnershipForms" type="PROP8:SubjectPropOwnershipForm">
        <xs:annotation>
          <xs:documentation>Форма на собственост (списък)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FundingSources" type="PROP7:SubjectPropFundingSource">
        <xs:annotation>
          <xs:documentation>Източници на финансиране (списък)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="PROP1:SubjectPropState">
        <xs:annotation>
          <xs:documentation>Състояние на субект
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Managers" type="REL1:SubjectRelManager">
        <xs:annotation>
          <xs:documentation>Управители
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partners" type="REL0:SubjectRelPartner">
        <xs:annotation>
          <xs:documentation>Собственици/ съдружници
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Assignee" type="REL3:SubjectRelAssignee">
        <xs:annotation>
          <xs:documentation>Правоприемство
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Belonging" type="REL2:SubjectRelBelonging">
        <xs:annotation>
          <xs:documentation>Принадлежност
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectiveBodies" type="PROP12:SubjectPropCollectiveBody">
        <xs:annotation>
          <xs:documentation>Колективни органи
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityDate" type="PROP10:SubjectPropActivityDate">
        <xs:annotation>
          <xs:documentation>Дата на започване/ спиране/ възобновяване на
						дейността
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalActivities2008" type="PROP3:SubjectPropActivityKID2008">
        <xs:annotation>
          <xs:documentation>Допълнителни дейности по КИД2008 (списък)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Professions" type="PROP11:SubjectPropProfession">
        <xs:annotation>
          <xs:documentation>Професии
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>