Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/StateOfPlayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://www.bulstat.bg/StateOfPlayService" xmlns:ns1="http://www.bulstat.bg/WSException" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="StateOfPlayService" targetNamespace="http://www.bulstat.bg/StateOfPlayService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="StateOfPlayService.xsd" namespace="http://www.bulstat.bg/StateOfPlayService" />
      <xsd:import schemaLocation="WSException.xsd" namespace="http://www.bulstat.bg/WSException" />
    </xsd:schema>
  </types>
  <message name="GetStateOfPlay">
    <part name="parameters" element="tns:GetStateOfPlay" />
  </message>
  <message name="GetStateOfPlayResponse">
    <part name="parameters" element="tns:GetStateOfPlayResponse" />
  </message>
  <message name="FetchNomenclatures">
    <part name="parameters" element="tns:FetchNomenclatures" />
  </message>
  <message name="FetchNomenclaturesResponse">
    <part name="parameters" element="tns:FetchNomenclaturesResponse" />
  </message>
  <message name="WSException">
    <part name="fault" element="ns1:WSException" />
  </message>
  <portType name="StateOfPlayPortType">
    <operation name="GetStateOfPlay">
      <input wsam:Action="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlay" message="tns:GetStateOfPlay" />
      <output wsam:Action="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlayResponse" message="tns:GetStateOfPlayResponse" />
      <fault wsam:Action="http://www.bulstat.bg/WSException" name="WSException" message="tns:WSException" />
    </operation>
    <operation name="FetchNomenclatures">
      <input wsam:Action="http://www.bulstat.bg/StateOfPlayService/FetchNomenclatures" message="tns:FetchNomenclatures" />
      <output wsam:Action="http://www.bulstat.bg/StateOfPlayService/Nomenclatures" message="tns:FetchNomenclaturesResponse" />
      <fault wsam:Action="http://www.bulstat.bg/WSException" name="WSException" message="tns:WSException" />
    </operation>
  </portType>
  <binding name="StateOfPlayPortBinding" type="tns:StateOfPlayPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetStateOfPlay">
      <soap:operation soapAction="http://www.bulstat.bg/StateOfPlayService/GetStateOfPlay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WSException">
        <soap:fault use="literal" name="WSException" namespace="" />
      </fault>
    </operation>
    <operation name="FetchNomenclatures">
      <soap:operation soapAction="http://www.bulstat.bg/StateOfPlayService/FetchNomenclatures" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WSException">
        <soap:fault use="literal" name="WSException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="StateOfPlayService">
    <port name="StateOfPlayPort" binding="tns:StateOfPlayPortBinding">
      <soap:address location="http://62.176.116.155:8082/bulstat/services/StateOfPlayService" />
    </port>
  </service>
</definitions>