Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/SubjectPropOwnershipForm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/SubjectPropOwnershipForm" xmlns:E="http://www.bulstat.bg/Entry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/SubjectPropOwnershipForm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Entry.xsd" namespace="http://www.bulstat.bg/Entry" />
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:complexType name="SubjectPropOwnershipForm">
    <xs:annotation>
      <xs:documentation>Форма на собственост</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="E:Entry">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Form" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Форма на собственост
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Percent">
            <xs:annotation>
              <xs:documentation>Процент
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>