Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/SubjectRelPartner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T40="http://www.bulstat.bg/SubscriptionElement" xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/SubjectRelPartner" xmlns:T25="http://www.bulstat.bg/Subject" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/SubjectRelPartner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:import schemaLocation="Subject.xsd" namespace="http://www.bulstat.bg/Subject" />
  <xs:import schemaLocation="SubscriptionElement.xsd" namespace="http://www.bulstat.bg/SubscriptionElement" />
  <xs:complexType name="SubjectRelPartner">
    <xs:annotation>
      <xs:documentation>Собственици / съдружници</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="T40:SubscriptionElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="RelatedSubject" type="T25:Subject">
            <xs:annotation>
              <xs:documentation>Свързан субект (собственик/ съдружник)
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Role" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Роля в разпределението на собствеността
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Percent">
            <xs:annotation>
              <xs:documentation>Процент разпределение на собств. без капитал
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Amount">
            <xs:annotation>
              <xs:documentation>Вноска/ дял
							</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>