Adapters/RegiX.AVBulstat2Adapter/RegiX.AVBulstat2Adapter/Service References/AVBulstat2ServiceReference/SubjectPropActivityDate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:T3="http://www.bulstat.bg/NomenclatureEntry" xmlns:tns="http://www.bulstat.bg/SubjectPropActivityDate" xmlns:E="http://www.bulstat.bg/Entry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bulstat.bg/SubjectPropActivityDate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Entry.xsd" namespace="http://www.bulstat.bg/Entry" />
  <xs:import schemaLocation="NomenclatureEntry.xsd" namespace="http://www.bulstat.bg/NomenclatureEntry" />
  <xs:complexType name="SubjectPropActivityDate">
    <xs:annotation>
      <xs:documentation>Дата на започване/ спиране/ възобновяване на
				дейността
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="E:Entry">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="T3:NomenclatureEntry">
            <xs:annotation>
              <xs:documentation>Вид (започване/ спиране/ възобновяване на
								дейността)
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:anySimpleType">
            <xs:annotation>
              <xs:documentation>Дата във формат (yyyy-MM-dd)
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>