Adapters/RegiX.MtTouristRegisterAdapter/RegiX.MtTouristRegisterAdapter/Service References/TOTAInsuranceService/query41.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://egov.bg/RegiX/MT/TOInsuranceByEIKRequest" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://egov.bg/RegiX/MT/TOInsuranceByEIKResponse" xmlns:impl="http://egov.bg/RegiX/MT/TOInsuranceByEIKRequest" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://egov.bg/RegiX/MT/TOInsuranceByEIKRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/TOInsuranceByEIKRequest">
      <xsd:complexType name="TOINSURANCEBYEIKREQUESTTYPE">
        <xsd:sequence>
          <xsd:element name="EIK" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TOINSURANCEBYEIKREQUEST" type="impl:TOINSURANCEBYEIKREQUESTTYPE" />
      <xsd:element name="TOINSURANCEBYEIKReturn" type="tns2:INSURANCEARRAY" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/TOInsuranceByEIKResponse">
      <xsd:complexType name="INSURANCETYPE">
        <xsd:sequence>
          <xsd:element name="EIK" type="xsd:string" />
          <xsd:element name="REGISTRATIONNUMBER" type="xsd:string" />
          <xsd:element name="COMPANY" type="xsd:string" />
          <xsd:element name="POLICYNUMBER" type="xsd:string" />
          <xsd:element name="DATE" nillable="true" type="xsd:date" />
          <xsd:element name="VALIDITY" nillable="true" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="INSURANCEARRAY">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSURANCE" nillable="true" type="tns2:INSURANCETYPE" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TOINSURANCEBYEIKResponse">
    <wsdl:part name="TOINSURANCEBYEIKReturn" element="impl:TOINSURANCEBYEIKReturn" />
  </wsdl:message>
  <wsdl:message name="TOINSURANCEBYEIKRequest">
    <wsdl:part name="TOINSURANCEBYEIKREQUEST" element="impl:TOINSURANCEBYEIKREQUEST" />
  </wsdl:message>
  <wsdl:portType name="TOTADB">
    <wsdl:operation name="TOINSURANCEBYEIK">
      <wsdl:input name="TOINSURANCEBYEIKRequest" message="impl:TOINSURANCEBYEIKRequest" />
      <wsdl:output name="TOINSURANCEBYEIKResponse" message="impl:TOINSURANCEBYEIKResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:TOTADB">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TOINSURANCEBYEIK">
      <wsdlsoap:operation soapAction="TOINSURANCEBYEIK" />
      <wsdl:input name="TOINSURANCEBYEIKRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TOINSURANCEBYEIKResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TOTAService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="http://217.75.131.131:31381/Registration.nsf/query4?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>