Adapters/RegiX.MtTouristRegisterAdapter/RegiX.MtTouristRegisterAdapter/Service References/CategorizationResortService/query31.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKRequest" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKResponse" xmlns:impl="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKRequest" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKRequest">
      <xsd:complexType name="BARRESTAURANTCATEGORYBYEIKREQUESTTYPE">
        <xsd:sequence>
          <xsd:element name="EIK" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BARRESTAURANTCATEGORYBYEIKREQUEST" type="impl:BARRESTAURANTCATEGORYBYEIKREQUESTTYPE" />
      <xsd:element name="BARRESTAURANTCATEGORYBYEIKReturn" type="tns2:TOURISTENTERTAINMENTOBJECTARRAY" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MT/BarRestaurantCategoryByEIKResponse">
      <xsd:complexType name="CONTACTTYPE">
        <xsd:sequence>
          <xsd:element name="REGION" type="xsd:string" />
          <xsd:element name="MUNICIPALITY" type="xsd:string" />
          <xsd:element name="CITY" type="xsd:string" />
          <xsd:element name="ADDRESS" type="xsd:string" />
          <xsd:element name="PHONE" type="xsd:string" />
          <xsd:element name="FAX" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CAPACITYTYPE">
        <xsd:sequence>
          <xsd:element name="TOTAL" type="xsd:int" />
          <xsd:element name="INDOORS" type="xsd:int" />
          <xsd:element name="OUTDOORS" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ENTOBJECTTYPEENUM">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Bar" />
          <xsd:enumeration value="Restaurant" />
          <xsd:enumeration value="Other" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TOURISTSUBOBJECTTYPE">
        <xsd:sequence>
          <xsd:element name="DESCRIPTION" type="xsd:string" />
          <xsd:element name="TYPE" nillable="true" type="tns2:ENTOBJECTTYPEENUM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CERTIFICATETYPE">
        <xsd:sequence>
          <xsd:element name="NUMBER" type="xsd:string" />
          <xsd:element name="DATE" nillable="true" type="xsd:date" />
          <xsd:element name="VALIDITY" nillable="true" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TOURISTENTERTAINMENTOBJECT">
        <xsd:sequence>
          <xsd:element name="NAME" type="xsd:string" />
          <xsd:element name="ADDRESS" nillable="true" type="tns2:CONTACTTYPE" />
          <xsd:element name="TYPE" type="xsd:string" />
          <xsd:element name="SUBTYPE" type="xsd:string" />
          <xsd:element name="CATEGORY" type="xsd:int" />
          <xsd:element name="CAPACITY" nillable="true" type="tns2:CAPACITYTYPE" />
          <xsd:element name="WORKTIME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SUBOBJECTS" nillable="true" type="tns2:TOURISTSUBOBJECTTYPE" />
          <xsd:element name="CERTIFICATE" nillable="true" type="tns2:CERTIFICATETYPE" />
          <xsd:element name="EIK" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TOURISTENTERTAINMENTOBJECTARRAY">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OBJECTS" nillable="true" type="tns2:TOURISTENTERTAINMENTOBJECT" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BARRESTAURANTCATEGORYBYEIKResponse">
    <wsdl:part name="BARRESTAURANTCATEGORYBYEIKReturn" element="impl:BARRESTAURANTCATEGORYBYEIKReturn" />
  </wsdl:message>
  <wsdl:message name="BARRESTAURANTCATEGORYBYEIKRequest">
    <wsdl:part name="BARRESTAURANTCATEGORYBYEIKREQUEST" element="impl:BARRESTAURANTCATEGORYBYEIKREQUEST" />
  </wsdl:message>
  <wsdl:portType name="CategorizationDB">
    <wsdl:operation name="BARRESTAURANTCATEGORYBYEIK">
      <wsdl:input name="BARRESTAURANTCATEGORYBYEIKRequest" message="impl:BARRESTAURANTCATEGORYBYEIKRequest" />
      <wsdl:output name="BARRESTAURANTCATEGORYBYEIKResponse" message="impl:BARRESTAURANTCATEGORYBYEIKResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:CategorizationDB">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BARRESTAURANTCATEGORYBYEIK">
      <wsdlsoap:operation soapAction="BARRESTAURANTCATEGORYBYEIK" />
      <wsdl:input name="BARRESTAURANTCATEGORYBYEIKRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BARRESTAURANTCATEGORYBYEIKResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategorizationService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="http://217.75.131.131:31381/CategoryzationMun.nsf/query3?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>