Adapters/RegiX.NoiROAdapter/RegiX.NoiROAdapter/Service References/POBForDatePayService/POBForDatePay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nssi.bg/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nssi.bg/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nssi.bg/">
      <s:element name="GetPOBForDatePay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="egn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flag_egn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="per_date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="per_date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOBForDatePayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPOBForDatePayResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPOBForDatePaySoapIn">
    <wsdl:part name="parameters" element="tns:GetPOBForDatePay" />
  </wsdl:message>
  <wsdl:message name="GetPOBForDatePaySoapOut">
    <wsdl:part name="parameters" element="tns:GetPOBForDatePayResponse" />
  </wsdl:message>
  <wsdl:portType name="POBForDatePaySoap">
    <wsdl:operation name="GetPOBForDatePay">
      <wsdl:input message="tns:GetPOBForDatePaySoapIn" />
      <wsdl:output message="tns:GetPOBForDatePaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POBForDatePaySoap" type="tns:POBForDatePaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPOBForDatePay">
      <soap:operation soapAction="http://www.nssi.bg/GetPOBForDatePay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POBForDatePaySoap12" type="tns:POBForDatePaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPOBForDatePay">
      <soap12:operation soapAction="http://www.nssi.bg/GetPOBForDatePay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POBForDatePay">
    <wsdl:port name="POBForDatePaySoap" binding="tns:POBForDatePaySoap">
      <soap:address location="http://egov.ad.tlogica.com/MockRegisters/NOI_POBDatePay/POBForDatePay.asmx" />
    </wsdl:port>
    <wsdl:port name="POBForDatePaySoap12" binding="tns:POBForDatePaySoap12">
      <soap12:address location="http://egov.ad.tlogica.com/MockRegisters/NOI_POBDatePay/POBForDatePay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>