Adapters/RegiX.IaosRegister67ZOUAdapter/RegiX.IaosRegister67ZOUAdapter/Service References/REG35RegServiceReference/REG35RegServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://reg.reg35.webservices.government.bg/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="REG35RegServiceImplService" targetNamespace="http://reg.reg35.webservices.government.bg/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://egov.bg/RegiX/IAOS/REG35Reg" location="https://source.gravis.bg:443/egov/services/reg35-registration?wsdl=1" />
  <types />
  <binding xmlns:ns1="http://egov.bg/RegiX/IAOS/REG35Reg" name="REG35RegServiceImplPortBinding" type="ns1:REG35RegService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getInfoByEIK">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getLicenseValidityCheck">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getStageInfoByPopName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getStageInfoByWasteCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getStagesByRegNumberAndWasteCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getValidityCheckByRegNum">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="REG35RegServiceImplService">
    <port name="REG35RegServiceImplPort" binding="tns:REG35RegServiceImplPortBinding">
      <soap:address location="https://source.gravis.bg:443/egov/services/reg35-registration" />
    </port>
  </service>
</definitions>