Adapters/RegiX.GvaAircraftsAdapter/RegiX.GvaAircraftsAdapter/XMLSchemas/RegiX.GvaAircraftsAdapter/AircraftsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://egov.bg/RegiX/GVA" xmlns="http://egov.bg/RegiX/GVA/AircraftsResponse" targetNamespace="http://egov.bg/RegiX/GVA/AircraftsResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Producer">
		<xs:annotation>
			<xs:documentation>Производител</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Производител - наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameEn" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на англ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на държава</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на държава</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:element name="IncomingNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Входящ номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncomingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Входяща дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Външен изходящ номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Външна изходяща дата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>Физическо лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ЕГН/ЛНЧ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имена на физическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entity">
		<xs:annotation>
			<xs:documentation>Юридическо лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ЕИК/БУЛСТАТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на юридическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Person" type="Person" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Физическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntitiesList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Entity" type="Entity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Юридическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonEntitiesLists">
		<xs:annotation>
			<xs:documentation>Списък с физически и юридически лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonList" type="PersonList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Списък с физически лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntitiesList" type="EntitiesList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Списък с юридически лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationStatus">
		<xs:sequence>
			<xs:element name="IsActiveRegistration" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дали е активна регистрация  към днешна дата(да/не)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на статус на регистрацията</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус на регистрацията</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationDocument">
		<xs:sequence>
			<xs:element name="DocNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeregistrationInfo">
		<xs:sequence>
			<xs:element name="DeregistrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на дерегистрация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationReason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина за дерегистрация на ВС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationCountryCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на държава</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationCountryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наиемнование на държава</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Lessor">
		<xs:sequence>
			<xs:element name="Person" type="Person" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Физическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Entity" type="Entity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Юридическо лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeasingInfo">
		<xs:sequence>
			<xs:element name="DocNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер на документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Крайна дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agreement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Договор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lessor" type="Lessor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лизингодател</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Registration">
		<xs:sequence>
			<xs:element name="ActNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Деловоден номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Първоначален регистрационен номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на регистрация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationMark" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационен знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsLastRegistration" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Последна регистрация към днешна дата(да/не)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationStatus" type="RegistrationStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус на регистрация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDocument" type="RegistrationDocument" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ за регистрация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationInfo" type="DeregistrationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за дерегистрация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeasingInfo" type="LeasingInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за лизинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators" type="PersonEntitiesLists" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Оператори</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owners" type="PersonEntitiesLists" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Собственици</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Registrations">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Registration" type="Registration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Repayment">
		<xs:sequence>
			<xs:element name="RepaymentDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepaymentDocument" type="DocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Забележки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftDebts">
		<xs:annotation>
			<xs:documentation>Данни за тежест върху въздухоплавателно средство</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InputDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на вписване на тежест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtTypeCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на вид тежест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид тежест (залог, запор)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsActive" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Активна тежест (да/не)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Applicant" type="Entity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на заявител</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Document" type="DocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ за всписване на тежест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Repayment" type="Repayment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация за погасяване</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Забележки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Debts">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Debt" type="AircraftDebts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tежест върху въздухоплавателно средство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirCategory">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на категория</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIR категория</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aircraft">
		<xs:annotation>
			<xs:documentation>Данни за въздухоплавателно средство в Регистъра на гражданските въздухоплавателни средства на ГВА</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Producer" type="Producer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Производител</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirCategory" type="AirCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIR категория</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ICAO" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ICAO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BGModelName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модел ВС на български език</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ENModelName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модел ВС на английски език</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MSNSerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MSN (сериен номер на ВС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Registrations" type="Registrations" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Debts" type="Debts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за тежести върху въздухоплавателно средство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftsResponse">
		<xs:annotation>
			<xs:documentation>Данни за въздухоплавателни средства в Регистъра на гражданските въздухоплавателни средства на ГВА</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Aircraft" type="Aircraft" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за въздухоплавателно средство в Регистъра на гражданските въздухоплавателни средства на ГВА</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AircraftsResponse" type="AircraftsResponse">
		<xs:annotation>
			<xs:documentation>Справка за въздухоплавателни средства, вписани  в Регистъра на гражданските въздухоплавателни средства на ГВА</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
