Adapters/RegiX.RTSAdapter/RegiX.RTSAdapter/XMLSchemas/RegiX.RTSAdapter/routesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:rts="http://egov.bg/RegiX/MTITC/Rts" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/MTITC/Rts" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="StationInfo">
		<xs:sequence>
			<xs:element name="Station" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на спирка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид спирка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на нас.място</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на нас.място</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunicipalityCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на община</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunicipalityName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование на обшина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на област</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathType">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пореден номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromStation" type="rts:StationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>От спирка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToStation" type="rts:StationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>До спирка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartTime" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Време на тръгване</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArriveTime" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Време на пристигане</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rest" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Престой</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Разстояние в км.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Speed" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Средна скорост(км/ч.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Paths">
		<xs:sequence>
			<xs:element name="Path" type="rts:PathType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отсечка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutePathType">
		<xs:sequence>
			<xs:element name="Paths" type="rts:Paths" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отсечки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обща дължина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общо време за движение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общо време за пътуване</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelSpeed" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Средна техническа скорост</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripSpeed" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Средна съобщителна скорост</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contractor">
		<xs:sequence>
			<xs:element name="ContractorCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на община възложител</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractorName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Община възложител</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractorRegionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код на област (на общината-възложител)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Seasonal">
		<xs:sequence>
			<xs:element name="IsSeasonal" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сезонно</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeasonStartDay" type="xs:gDay" minOccurs="0">
				<xs:annotation>
					<xs:documentation>От ден</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeasonStartMonth" type="xs:gMonth" minOccurs="0">
				<xs:annotation>
					<xs:documentation>От месец</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeasonEndDay" type="xs:gDay" minOccurs="0">
				<xs:annotation>
					<xs:documentation>До ден</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeasonEndMonth" type="xs:gMonth" minOccurs="0">
				<xs:annotation>
					<xs:documentation>До месец</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Schedule">
		<xs:sequence>
			<xs:element name="IsDaily" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ежедневно </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Понеделник</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tuesday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вторник</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wednesday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сряда</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Thursday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвъртък</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Friday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Петък</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Saturday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Събота</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sunday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Неделя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeforeHoliday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предпразник</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Holiday" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Празник</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteType">
		<xs:sequence>
			<xs:element name="RouteCode" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маршрутно разписание №</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Име на автобусна линия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDescrtiption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание на линията</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriversCount" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Брой водачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusesCount" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Брой автобуси</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на утвърждение </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidTo" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на валидност</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contractor" type="rts:Contractor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Община - възложител</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Seasonal" type="rts:Seasonal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Изпълнява се</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Schedule" type="rts:Schedule" minOccurs="0">
				<xs:annotation>
					<xs:documentation>График</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForwardRoute" type="rts:RoutePathType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отиване</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackwardRoute" type="rts:RoutePathType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Връщане</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Routes">
		<xs:sequence>
			<xs:element name="Route" type="rts:RouteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Разписание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutesResponse">
		<xs:sequence>
			<xs:element name="GenerationTimeStamp" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на справката</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes" type="rts:Routes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Разпиания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RoutesResponse" type="rts:RoutesResponse">
		<xs:annotation>
			<xs:documentation>Маршрутни разписания</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
